<p class="variables-p">
<strong>Condition</strong><br>
q1 - MediCond <strong>{{q1answer}}</strong><br>
q2 - TypeCond <strong>{{q2answer}}</strong><br>
q3 - TypeSeiz <strong>{{q3answer}}</strong><br>

<!--  DRUG/ALCOHOL HISTORY  -->
<strong>History</strong><br>
q4 - AlDrMisu <strong>{{q4answer}}</strong><br>
q5 - HistAlch <strong>{{q5answer}}</strong><br>
q6 - HistDrug <strong>{{q6answer}}</strong><br>


<!--  ADDRESS INFO  -->
<strong>Address</strong><br>
q7 - AddrCorr <strong>{{q7answer}}</strong><br>
q7A - NewAddr <strong>{{{q7answerA}}}</strong><br>
q7B - EmaiConf <strong>{{q7answerB}} {{email}}</strong><br>


<!--  SEIZURES  -->
<strong>Siezures</strong><br>
q8 - SeizFirs <strong>{{q8answer}}</strong><br>
q9 - SeizLast <strong>{{q9answer}}</strong><br>
q10 - SeizOther <strong>{{q10answer}}</strong><br>


<strong>Medication</strong><br>
q11 - MedsPrev <strong>{{q11answer}}</strong><br>
<!--
q11A - MedsPrev <strong>{{q11answer2}} {{startdate2}} {{enddate2}}</strong><br>
q11B - MedsPrev <strong>{{q11answer3}} {{startdate3}} {{enddate3}}</strong><br>
-->

<!--  MEDICATION INFO  -->
<strong>
q12 - MedsCurr <strong>{{q12answer}}</strong><br>
q13 - ConfDrow <strong>{{q13answer}}</strong><br>
q14 - EpDeclar <strong>{{q14answer}}</strong><br>
q15 - MedCons1 <strong>{{q15answer}}</strong><br>
q16 - MedCons2 <strong>{{q16Aanswer}} {{q16Banswer}}</strong><br>
q17 - Consulta <strong>{{drname}} {{surgname}} {{drpostcode}} {{drphone}}</strong><br>
q18 - AppSumma <strong>{{q18answer}}</strong><br>
q19 - AppConfi <strong>{{q19answer}}</strong><br>
</p>