{{<layout}}

{{$pageTitle}}
	Admin
{{/pageTitle}}

{{$head}}
	{{>includes/head}}
{{/head}}

{{$propositionHeader}}
	{{>includes/propositional_navigation_alpha}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}
	<main id="content" role="main">

		<ul>
			<li><!--  LEVEL 1  -->
				<ul class="list-bullet">../
					<li><a href="/">index.html</a></li>
					<li><a href="/admin">admin.html</a></li>

						<!--  LEVEL 2  -->
						<ul class="list-bullet">/epilepsy
							<li>q1 <a href="epilepsy/q1">your-condition.html</a> - <span class="form-hint inline">Enter your condition</span></li>
							<li>q2 <a href="epilepsy/q2">describe-condition.html</a> - <span class="form-hint inline">Which of the following best describes your condition?</span></li>
							<li>q3 <a href="epilepsy/q3">seizure-type.html</a> - <span class="form-hint inline">Which of the following seizures have you had?</span></li>
							<li>q4 <a href="epilepsy/q4">seizure-cause.html</a> - <span class="form-hint inline">Have any of your seizures been caused by alcohol or illegal drug misuse?</span></li>
							<li>q5 <a href="epilepsy/q5">alcohol-dependence.html</a> - <span class="form-hint inline">Do you have a history of misuse or dependence of alcohol?</span></li>
							<li>q6 <a href="epilepsy/q6">drug-dependence.html</a> - <span class="form-hint inline">Do you have a history of misuse or dependence of illegal drugs?</span></li>

							<!--  LEVEL 3  -->
							<ul class="list-bullet">/verify
								<li><a href="epilepsy/verify/verify-1">verify-1.html</a> - <span class="form-hint inline">verify</span></li>
								<li><a href="epilepsy/verify/verify-2">verify-2.html</a> - <span class="form-hint inline">verify</span></li>
								<li><a href="epilepsy/verify/verify-3">verify-3.html</a> - <span class="form-hint inline">verify</span></li>
								<li><a href="epilepsy/verify/verify-4">verify-4.html</a> - <span class="form-hint inline">verify</span></li>
								<li><a href="epilepsy/verify/verify-5">verify-5.html</a> - <span class="form-hint inline">verify</span></li>
								<li><a href="epilepsy/verify/verify-6">verify-6.html</a> - <span class="form-hint inline">verify</span></li>

							</ul><!--  end LEVEL 3  -->

							<li>add1 <a href="epilepsy/verify/confirm-address">confirm-address.html</a> - <span class="form-hint inline">Is the address on your driving licence correct?</span></li>
							<li>add2 <a href="epilepsy/verify/change-address">change-address.html</a> - <span class="form-hint inline">Enter your new address</span></li>
							<li>add3 <a href="epilepsy/verify/contact-details">email-confirmation.html</a> - <span class="form-hint inline">Would you like to receive a confirmation email?</span></li>
							<br>

							<li>q7 <a href="epilepsy/q7">first-seizure-date.html</a> - <span class="form-hint inline">Provide the date of your first seizure</span></li>
							<li>q8 <a href="epilepsy/q8">recent-seizure-date.html</a> - <span class="form-hint inline">Provide the date of your most recent seizure</span></li>
							<li>q9 <a href="epilepsy/q9">other-events.html</a> - <span class="form-hint inline">Any other event in the last 12 months?</span></li>
							<li>q10 <a href="epilepsy/q10">previous-medication.html</a> - <span class="form-hint inline">Provide details of any medication you have previously taken for your epilepsy</span></li>
							<li>q10a <a href="epilepsy/q10">previous-medication.html</a> Variant 1- <span class="form-hint inline">Provide details of any medication you have previously taken for your epilepsy</span></li>
							<li>q10b <a href="epilepsy/q10">previous-medication.html</a> Variant 2- <span class="form-hint inline">Provide details of any medication you have previously taken for your epilepsy</span></li>
							<li>q11 <a href="epilepsy/q11">current-medication.html</a> - <span class="form-hint inline">Provide details of any medication you are currently taking for your epilepsy</span></li>
							<li>q12 <a href="epilepsy/q12">drowsy-confused-medication.html</a> - <span class="form-hint inline">Does any of your current medication make you confused or drowsy?</span></li>
							<li>q13 <a href="epilepsy/q13">epilepsy-declaration.html</a> - <span class="form-hint inline">Epilepsy declaration</span></li>
							<li>q14 <a href="epilepsy/q14">medical-consent-1.html</a> - <span class="form-hint inline">Consent to Medical Enquiry</span></li>
							<li>q15 <a href="epilepsy/q15">medical-consent-2.html</a> - <span class="form-hint inline">It may be useful if we could reveal certain aspects of this enquiry to your doctors.</span></li>
							<li>q16 <a href="epilepsy/q16">consultant-details.html</a> - <span class="form-hint inline">Your Consultants details</span></li>
							<li>q17 <a href="epilepsy/q17">epilepsy-summary.html</a> - <span class="form-hint inline">Application summary</span></li>
							<li>q17a <a href="epilepsy/q17a">epilepsy-summary.html</a> Variant 1- <span class="form-hint inline">Application summary</span></li>
							<li>q17b <a href="epilepsy/q17b">epilepsy-summary.html</a> Variant 2- <span class="form-hint inline">Application summary</span></li>
							<li>q18 <a href="epilepsy/q18">epilepsy-confirmation.html</a> - <span class="form-hint inline">Application confirmation</span></li>
							
						</ul><!--  end LEVEL 2  -->
				</ul><!--  end LEVEL 1  -->
			</li>
		</ul>
	</main>
{{/content}}

{{$bodyEnd}}{{/bodyEnd}}

{{$footerTop}}{{/footerTop}}

{{$footerSupportLinks}}{{/footerSupportLinks}}

{{/layout}}