{{<govuk_template}}

{{$pageTitle}}
	question11 - Provide details of any medication you are currently taking for your epilepsy
{{/pageTitle}}

{{$head}}
	{{>includes/head}}
	{{>includes/scripts}}
{{/head}}

{{$propositionHeader}}
	{{>includes/propositional_navigation}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}
<!--  Debugging  -->
<div class="float-right">
{{#vars}}
{{>includes/variables}}
{{/vars}}
<p class="form-title bold-xlarge">question12</p>
<pre class="routes-pre">
NEXT >>> question-12<br>
</pre>
</div>
<!--  Routing  -->

	<main id="content" role="main">
		{{>includes/phase_banner}}

		<div class="grid-row" id="question11">
			<div class="column-two-thirds">

				<h1 class="form-title heading-large">Provide details of any medication you are currently taking for your epilepsy</h1>
				
				<form action="/ep-flowq11" method="get" class="form" data-parsley-validate>
					{{#vars}}
					<input type="hidden" name="q1answer" value="{{q1answer}}">
					<input type="hidden" name="q2answer" value="{{q2answer}}">
					<input type="hidden" name="q3answer" value="{{q3answer}}">
					<input type="hidden" name="q4answer" value="{{q4answer}}">
					<input type="hidden" name="q5answer" value="{{q5answer}}">
					<input type="hidden" name="q6answer" value="{{q6answer}}">
					<input type="hidden" name="q6Aanswer" value="{{q6Aanswer}}">
					<input type="hidden" name="q7answer" value="{{q7answer}}">
					<input type="hidden" name="q8answer" value="{{q8answer}}">
					<input type="hidden" name="q9answer" value="{{q9answer}}">
					<input type="hidden" name="q10answer1" value="{{q10answer1}}">
					<input type="hidden" name="startdate1" value="{{startdate1}}">
					<input type="hidden" name="enddate1" value="{{enddate1}}">
					<input type="hidden" name="q10answer2" value="{{q10answer2}}">
					<input type="hidden" name="startdate2" value="{{startdate2}}">
					<input type="hidden" name="enddate2" value="{{enddate2}}">
					<input type="hidden" name="q10answer3" value="{{q10answer3}}">
					<input type="hidden" name="startdate3" value="{{startdate3}}">
					<input type="hidden" name="enddate3" value="{{enddate3}}">
					{{/vars}}

					<!-- Current medication -->
					<div class="form-group">
						<div class="form-group">
							<label class="form-label" for="q11-a1">Enter name of medication</label>
							<p class="form-hint">For example, perampanel</p>

							<input class="form-control" type="text" id="q11-a1" name="q11answer" value="perampanel"
							data-parsley-required
							data-parsley-errors-container="#custom-parsley-error"
							data-parsley-error-message="You need to enter a condition">
						</div><!--  end .form-group  -->
					</div><!--  end .form-group  -->

					{{>includes/button-continue}}
				</form>
			</div><!--  end column-two-thirds  -->
		</div><!--  end gridrow  -->
	</main>
{{/content}}

{{$bodyEnd}}{{/bodyEnd}}

{{$footerTop}}{{/footerTop}}

{{$footerSupportLinks}}{{/footerSupportLinks}}

{{/govuk_template}}