{{<govuk_template}}

{{$pageTitle}}
	question4 - Have any of your seizures been caused by alcohol or illegal drug misuse?
{{/pageTitle}}

{{$head}}
	{{>includes/head}}
	{{>includes/scripts}}
{{/head}}

{{$propositionHeader}}
	{{>includes/propositional_navigation}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}
<!--  Debugging  -->
<div class="float-right">
{{#vars}}
{{>includes/variables}}
{{/vars}}
<p class="form-title bold-xlarge">question4</p>
<pre class="routes-pre">
YES >>> question5<br>
NO >>> verify flow
</pre>
</div>
</div>
<!--  Routing  -->

	<main id="content" role="main">
		{{>includes/phase_banner}}
		
		<div class="grid-row" id="question4">
			<div class="column-two-thirds">

				<h1 class="form-title heading-large">Have any of your seizures been caused by alcohol or illegal drug misuse?</h1>

				<form action="/ep-flow" method="get" class="form" data-parsley-validate>
				<input type="hidden" name="question" value="q4">
					


					<div class="form-group">
						<fieldset class="inline">
							<legend class="visuallyhidden">
								Have any of your seizures been caused by alcohol or illegal drug misuse?
							</legend>
							
							<label class="block-label" for="q4-a1">
								<input type="radio" id="q4-a1" name="q4answer" value="have"
								data-parsley-required
								data-parsley-errors-container="#custom-parsley-error"
								data-parsley-error-message="You need to select an option">
								Yes</label>

							<label class="block-label" for="q4-a2">
								<input type="radio" id="q4-a2" name="q4answer" value="have not">
								No</label>

							<span id="custom-parsley-error"></span>
						</fieldset>
					</div><!--  end .form-group  -->

					{{>includes/button-continue}}
				</form>
			</div><!--  end column-two-thirds  -->
		</div><!--  end gridrow  -->
	</main>
{{/content}}

{{$bodyEnd}}{{/bodyEnd}}

{{$footerTop}}{{/footerTop}}

{{$footerSupportLinks}}{{/footerSupportLinks}}

{{/govuk_template}}