{{<govuk_template}}

{{$pageTitle}}
	question7a - Enter your new address
{{/pageTitle}}

{{$head}}
	{{>includes/head}}
	{{>includes/scripts}}
{{/head}}

{{$propositionHeader}}
	{{>includes/propositional_navigation}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}
<!--  Debugging  -->
<div class="float-right">
{{#vars}}
{{>includes/variables}}
{{/vars}}
<p class="form-title bold-xlarge">question7a</p>
<pre class="routes-pre">
NEXT >>> question7b<br>
</pre>
</div>
<!--  Routing  -->

	<main id="content" role="main">
		{{>includes/phase_banner}}

		<div class="grid-row" id="question7a">
			<div class="column-two-thirds">
				<h1 class="form-title heading-large">Enter your new address</h1>

				<form action="/ep-flowq7a" method="get" class="form">
					{{#vars}}
					<input type="hidden" name="q1answer" value="{{q1answer}}">
					<input type="hidden" name="q2answer" value="{{q2answer}}">
					<input type="hidden" name="q3answer" value="{{q3answer}}">
					<input type="hidden" name="q4answer" value="{{q4answer}}">
					<input type="hidden" name="q5answer" value="{{q5answer}}">
					<input type="hidden" name="q6answer" value="{{q6answer}}">
					<input type="hidden" name="q7answer" value="{{q7answer}}">
					{{/vars}}

					<div class="form-group">
						<fieldset class="">
							<div class="form-group">
								<label class="form-label" for="address1">Address</label>
								<input class="form-control" id="address1" name="address1" type="text" data-parsley-required value="1765 Longview Road">
							</div>

							<div class="form-group">
								<input class="form-control" id="address2" name="address2" type="text" data-parsley-required value="Clase">
							</div>

							<div class="form-group">
								<label class="form-label" for="posttown">Post Town</label>
								<input class="form-control" id="posttown" name="posttown" type="text" data-parsley-required value="Swansea">
							</div>

							<div class="form-group">
								<label class="form-label" for="postcode">Postcode</label>
								<input class="form-control" id="postcode" name="postcode" type="text" data-parsley-required value="SA6 7JL">
							</div>

							<span id="custom-parsley-error"></span>
						</fieldset>
					</div><!--  end .form-group  -->

					{{>includes/button-continue}}
				</form>
			</div><!--  end column-two-thirds  -->
		</div><!--  end gridrow  -->
	</main>
{{/content}}

{{$bodyEnd}}{{/bodyEnd}}

{{$footerTop}}{{/footerTop}}

{{$footerSupportLinks}}{{/footerSupportLinks}}

{{/govuk_template}}