{{<govuk_template}}

{{$pageTitle}}
	question9 - Provide the date of your most recent seizure
{{/pageTitle}}

{{$head}}
	{{>includes/head}}
	{{>includes/scripts}}
{{/head}}

{{$propositionHeader}}
	{{>includes/propositional_navigation}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}
<!--  Debugging  -->
<div class="float-right">
{{#vars}}
{{>includes/variables}}
{{/vars}}
<p class="form-title bold-xlarge">question9</p>
<pre class="routes-pre">
<1yr	>>> question17 {REVOKE}<br>
>1 <5yr	>>> question10<br>
>5yr	>>> question9<br>
</pre>
</div>
<!--  Routing  -->

	<main id="content" role="main">
		{{>includes/phase_banner}}

		<div class="grid-row" id="question9">
			<div class="column-two-thirds">

				<h1 class="form-title heading-large">Provide the date of your most recent seizure</h1>

				<form action="/ep-flowq9" method="get" class="form" data-parsley-validate>
					{{#vars}}
					<input type="hidden" name="q1answer" value="{{q1answer}}">
					<input type="hidden" name="q2answer" value="{{q2answer}}">
					<input type="hidden" name="q3answer" value="{{q3answer}}">
					<input type="hidden" name="q4answer" value="{{q4answer}}">
					<input type="hidden" name="q5answer" value="{{q5answer}}">
					<input type="hidden" name="q6answer" value="{{q6answer}}">
					<input type="hidden" name="q7answer" value="{{q7answer}}">
					<input type="hidden" name="q7answerA" value="{{q7answerA}}">
					<input type="hidden" name="q7answerA" value="{{q7answerB}}">
					<input type="hidden" name="email" value="{{email}}">
					<input type="hidden" name="q8answer" value="{{q8answer}}">
					{{/vars}}

					<div class="form-group">
						<fieldset>
							<legend class="visuallyhidden">
								Provide the date of your most recent seizure
							</legend>

							<div class="form-date">
								<span class="form-hint">For example: 01 02 2007</span>

								<div class="form-group form-group-day">
									<label for="q9-a1">Day</label>
									<input class="form-control" id="q9-a1" name="day" type="number" pattern="[0-9]*" min="0" max="31" value="01"
									data-parsley-required
									data-parsley-errors-container="#custom-parsley-error"
									data-parsley-error-message="You need to enter a date">
								</div>

								<div class="form-group form-group-month">
									<label for="q9-a2">Month</label>
									<input class="form-control" id="q9-a2" name="month" type="number" pattern="[0-9]*" min="0" max="12" value="02">
								</div>

								<div class="form-group form-group-year">
									<label for="q9-a3">Year</label>
									<input class="form-control" id="q9-a3" name="year" type="number" pattern="[0-9]*" min="0" max="2015" value="2007">
								</div>

								<span id="custom-parsley-error"></span>
							</div><!--  end .form-date  -->
						</fieldset>
					</div>

					{{>includes/button-continue}}
				</form>
			</div><!--  end column-two-thirds  -->
		</div><!--  end gridrow  -->
	</main>
{{/content}}

{{$bodyEnd}}{{/bodyEnd}}

{{$footerTop}}{{/footerTop}}

{{$footerSupportLinks}}{{/footerSupportLinks}}

{{/govuk_template}}